<h1 style="color:blue;">Ingrese datos</h1>
<br>

<form action="/productos" method="post">

    <div class="form-group">
        <label for="Titulo"><b>Titulo</b></label>
        <input id="Titulo" class="form-control" type="text" name="Titulo" required>
    </div>

    <div class="form-group">
        <label for="Precio"><b>Precio</b></label>
        <input id="Precio" class="form-control" type="text" name="Precio" required>
    </div>

    <div class="form-group">
        <label for="Imagen"><b>Imagen URL</b></label>
        <input id="Imagen" class="form-control" type="text" name="Imagen" required>
    </div>

    <button class="btn btn-success mt-3 mb-5">Enviar</button>
</form>

<button class="btn btn-primary mt-3 mb-5" onclick="location.href='./productos'">Ver productos</button>